---
version: '3.2'

services:
  mailer:
    volumes:
      - type: bind
        source: /var/cyhy/reports/output/notification_archive/latest
        target: /cyhy_notifications
    command:
      - notification
      - --cyhy-notification-dir=/cyhy_notifications/
      - --db-creds-file=/run/secrets/database_creds.yml
      - "--summary-to=ncats-dev@beta.dhs.gov"
