---
# The version for the main docker-compose configuration needs to be
# the lowest version that supports the features used by all
# docker-compose configurations in this project. This is to support
# the use of a 'docker-compose.override.yml' file derived from one of
# the other configurations as documented here:
# https://docs.docker.com/compose/extends/#multiple-compose-files
version: '3.2'

secrets:
  database_creds:
    file: ./secrets/database_creds.yml
  aws_config:
    file: ./secrets/aws_config

services:
  mailer:
    image: 'dhsncats/cyhy-mailer:1.5.0'
    secrets:
      - source: database_creds
        target: database_creds.yml
      - source: aws_config
        target: aws_config
    environment:
      - AWS_CONFIG_FILE=/run/secrets/aws_config
      - AWS_PROFILE=default
