---
version: '3.2'

services:
  mailer:
    volumes:
      - type: bind
        source: /var/cyhy/reports/output/report_archive/latest
        target: /cyhy_reports
      - type: bind
        source: /var/cyhy/reports/output/scorecards/latest
        target: /cybex_scorecard
    command:
      - cyhy
      - cybex
      - --cyhy-report-dir=/cyhy_reports/
      - --cybex-scorecard-dir=/cybex_scorecard/
      - --db-creds-file=/run/secrets/database_creds.yml
      - "--summary-to=ncats-dev@beta.dhs.gov"
