---
version: '3.2'

services:
  mailer:
    volumes:
      - type: bind
        source: "/var/cyhy/orchestrator/output/archive/latest/reporting/\
        trustymail_reports"
        target: /trustymail_reports
      - type: bind
        source: "/var/cyhy/orchestrator/output/archive/latest/reporting/\
        pshtt_reports"
        target: /pshtt_reports
    command:
      - bod1801
      - --tmail-report-dir=/trustymail_reports/
      - --https-report-dir=/pshtt_reports/
      - --db-creds-file=/run/secrets/database_creds.yml
      - "--summary-to=ncats-dev@beta.dhs.gov"
